@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
	font-family: 'Lato', sans-serif;
}

.login-form{
	margin:80px auto;
	width: 350px;
	background-color: #F4BB44;
	padding: 55px;
	border-radius: 30px
}

.menu-form{
	margin:30px auto;
	width: 1000px;
	background-color: #F4BB44;
	padding: 0px 30px 30px 30px;
	border-radius: 30px;
	padding-top: 0px;
}

.menu-logout{
	display:flex;
	justify-content: right;
	padding: 5px;
	width:98%;
	margin:6px -30px -10px 0px;
}

.menu-logout-form{
	display:flex;
	justify-content:center;
	margin:8px -30px -15px 0px;
	
}

.menu-logout-form input{
	background-color: white;
	border-radius: 50px;
	border-color:transparent;
	padding: 5px 20px 5px 20px;
}

.logo{
	background-color: white;
	width:100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom:10px;
}

.logo-menu{
	background-color: white;
	width:100px;
	height: 100px;
	border-radius: 50%;
	margin-top: -100x;
	margin: auto;
	margin-bottom: -10px;
}

.logo img{
	width: 80%;
}

.logo-menu img{
	width: 80%;
}

.title{
	text-align: center;
}

.form{
	display: flex;
	justify-content: center;
	width:100%;
}

.menu-functionality-form{
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 20px;
}

.top-up-form{
	display: flex;
	justify-content: center;
	flex-direction:row;
	width: 100%;
	gap:10px;
	/*width:100%;*/
}


.top-up-destinations{
	margin-top:12px;
	display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    width: 100%
}

.top-up-form input{
	font-size: 19px;
	padding:10px 20px 10px 10px;
	outline:none;
	background-color:black;
}

.functionality-format-swipe{
	/*margin:80px auto;*/
	width: 500px;
	background-color: white;
	/*padding: 40px;*/
	padding:10px 40px 30px 40px;
	border-radius: 30px;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.functionality-format-topUp{
	width: 300px;
	background-color: black;
	color:white;
	/*padding: 40px;*/
	padding:10px;
	border-radius: 30px;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.user-login-form {
	display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
    width:100%
}

.user-login-form-2 {
	display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
    width:100%
}

.login-form input{
	font-size: 19px;
	padding:10px 20px 10px 10px;
	outline:none;
	background:white;
	border-radius:30px;	
	border-color: transparent;
}

.user-login-form-2 input{
	font-size: 19px;
	padding:10px 20px 10px 10px;
	outline:none;
	background:white;
	border-radius:30px;	
	border-color: transparent;
	margin: 0px 20px 30px 20px;
}

.button:hover, .button2:hover{
	opacity:0.6;
}

.button2{
	margin-top: 15px;
}

.top-up-button:hover{
	color: white;
	background-color: #F4BB44;
}

.register-form{
	display: flex;
	justify-content: center;
	width: 100%
	/*width:100%;*/
}

.register-input{
	display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    margin-top: 10px;
    width: 100%
    /*width:100%*/
}

.login-error{
	font-size: 16px;
	font-style: italic;
	color: #484848;
	margin-top: -10px
}

.menu-error{
	text-align: center;
	font-size: 24px;
	font-style: italic;
	color: #484848;
}

.menu-success{
	text-align: center;
	font-size: 24px;
	color: white;
}

.register-form input{
	padding: 10px 30px 10px 30px;
	background-color: black;
	color: white;
}

a:link, a:visited{
	color:black;
}

th{
	background-color: #F4BB44;
	border-radius: 15px;
	padding: 10px 30px 10px 30px;
	font-size: 20px;
}
table{
	border-spacing: 10px 7px;
}

tr{
	text-align: center;
	border: 3px;
	border-color: #F4BB44;
}

td{
	border: 1px solid;
	border-color: black;
	border-radius: 9px;
	font-size: 15px;
	/*padding: 7px;*/
	padding: 7px 0px 7px 0px;
}

.first-td{
	border: 2px solid;
	border-color: #F4BB44;
	font-size: 18px;
	font-weight: bold;
}

.first-td:hover{
	color: black;
	background-color: white;
}

.swipe{
	text-decoration: none;
}

td:hover{
	color: white;
	background-color: black;
	
}

.swipe:hover{
	color: white;
	background-color: black;
}



